.mediaui--controls {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.mediaui--blank {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.mediaui--controlsstate-disabled {
  .mediaui--controls {
    display: none;
  }
}

.mediaui--controlsbar {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.mediaui--controlsbarinner {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.mediaui--bigplaypause {
  position:  absolute;
  top: 50%;
  left: 50%;
  transform:  translate(-50%, -50%);
  opacity: 1;
  border: 0;
}

.mediaui--littleplaypause,
.mediaui--littlemute,
.mediaui--littlecaptions,
.mediaui--littlefullscreen {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: inherit;
  min-height: inherit;
}

.mediaui--playpausestate-disabled {
  .mediaui--railduration,
  .mediaui--littleplaypause,
  .mediaui--bigplaypause {
    display: none;
  }
}

.mediaui--bigplaypausestate-hidden {
  .mediaui--bigplaypause {
    display: none;
  }
}

.mediaui--mutestate-disabled {
  .mediaui--littlemute {
    display: none;
  }
}

.mediaui--captionsstate-disabled {
  .mediaui--littlecaptions {
    display: none;
  }
}

.mediaui--fullscreenstate-disabled {
  .mediaui--littlefullscreen {
    display: none;
  }
}
