.mediaui--railduration {
  position: relative;
  flex-grow: 1;
}

.mediaui--raildurationinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0;
  overflow: hidden;
}

.mediaui--railback,
.mediaui--railbuffered,
.mediaui--railcurrent,
.mediaui--railfront {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
