
.mediaui--waiting {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mediaui--waitingstate-inactive .mediaui--waiting {
  display: none;
}

.mediaui--waitingstate-active .mediaui--bigplaypause {
  display: none;
}
