.media--main {
  display: inline-block;
  position: relative;
  line-height: 0;
  overflow: hidden;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

:not(.media--engagestate-engaged).media--playpausestate-playing {
  cursor: none;
}

.media--captions {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 16px;
  right: 0;
  transition: bottom 0.5s;
  line-height: 120%;
}

.media--main *::cue {
  visibility: hidden;
}

:not(.media--engagestate-engaged).media--playpausestate-playing .media--captions {
  bottom: 0;
}

.media--cue-line {
  background: black;
  color: white;
  padding: 2px 4px;
}

.media--controls {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.media--controlsbar {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.media--controlsbar > * {
  transition: transform 0.5s;
  transform: translateY(0);
}

:not(.media--engagestate-engaged).media--playpausestate-playing .media--controlsbar > * {
  transform: translateY(100%);
}

.media--bigplaypause {
  position:  absolute;
  top: 50%;
  left: 50%;
  height: 64px;
  width: 64px;
  transform:  translate(-50%, -50%);
  opacity: 1;
}

:not(.media--engagestate-engaged).media--playpausestate-playing .media--bigplaypause {
  opacity: 0;
  cursor: none;
}

.media--railduration {
  background: blue;
  position: relative;
  height: 16px;
  flex-grow: 1;
}

.media--railback {
  background: orange;
}

.media--railbuffered {
  background: red;
}

.media--railcurrent {
  background: green;
}

.media--railback,
.media--railbuffered,
.media--railcurrent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.media--littleplaypause,
.media--littlemute,
.media--littlevolume,
.media--littlecaptions,
.media--littlefullscreen {
  height: 16px;
  width: 16px;
}

.media--fullscreen-fullwindow:before {
  content: " ";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: -1;
}

.media--fullscreen-fullwindow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 2147483647 !important;
}
