<div class="${classprefix}main layout-${uilayoutname}" ${outputattribute}="fullscreenstate playpausestate captionsstate mutestate waitingstate controlsstate posterstate engagestate scrubbingstate">
  <div class="${classprefix}resizecontainer" ${outputattribute}="resize">
    <div class="${classprefix}resizecontainerinner" ${outputattribute}="resizeinner mediaseat">
      <div class="${classprefix}poster">
        <img ${outputattribute}="poster">
      </div>
    </div>
    <div class="${classprefix}blank"></div>
    <div class="${classprefix}controls" ${inputattribute}="taps skip toggleplaypausenotouch">
      <div class="${classprefix}controlsbar" ${inputattribute}="engage stoptappropagation">
        <div class="${classprefix}controlsbarinner" ${outputattribute}="controlbarorder">
          <button class="${classprefix}littleplaypause" ${inputattribute}="toggleplaypause" ${outputattribute}="playpausearia" ${controlbarorderattribute}="playpause"></button>
          <div class="${classprefix}railduration" ${inputattribute}="scrubcurrenttime scrubcurrenttimearia" ${outputattribute}="currenttimearia" ${controlbarorderattribute}="rail" tabindex="0">
            <div class="${classprefix}raildurationinner">
              <div class="${classprefix}railback"></div>
              <div class="${classprefix}railbuffered" ${outputattribute}="bufferedwidth"></div>
              <div class="${classprefix}railcurrent" ${outputattribute}="currenttimewidth"></div>
              <div class="${classprefix}railfront"></div>
            </div>
          </div>
          <button class="${classprefix}littlemute" ${outputattribute}="mutearia" ${inputattribute}="togglemute" ${controlbarorderattribute}="mute"></button>
          <button class="${classprefix}littlecaptions" ${outputattribute}="captionsaria" ${inputattribute}="togglecaptions" ${controlbarorderattribute}="captions"></button>
          <button class="${classprefix}littlefullscreen" ${outputattribute}="fullscreenaria" ${inputattribute}="togglefullscreen" ${controlbarorderattribute}="fullscreen"></button>
        </div>
      </div>
      <div class="${classprefix}captions" ${outputattribute}="captions"></div>
      <div class="${classprefix}waiting"></div>
      <button class="${classprefix}bigplaypause" ${inputattribute}="toggleplaypause engage" aria-hidden="true"></button>
    </div>
  </div>
</div>
